<%- layout('/layouts/boilerplate') %>

<div class="container mt-5 mb-5 d-flex justify-content-center">


    <form action="/api/admin/addAdmin" method="post" class="needs-validation" novalidate>
      <div class="mb-3">
        <label class="form-label" style="font-weight: 500; color: #222;">Admin Name</label>
        <input
          type="text"
          name="adminName"
          class="form-control border-dark rounded-2"
          placeholder="e.g. John Smith"
          required
        />
        <div class="invalid-feedback">Please Enter Admin Name</div>
      </div>

      <div class="mb-3">
        <label class="form-label" style="font-weight: 500; color: #222;">Hostel Name</label>
        <input
          type="text"
          name="hostelName"
          class="form-control border-dark rounded-2"
          placeholder="e.g. Hostel A"
          required
        />
        <div class="invalid-feedback">Please Enter Hostle Name</div>
      </div>

      <div class="mb-4">
        <label class="form-label" style="font-weight: 500; color: #222;">Password</label>
        <input
          type="password"
          name="password"
          class="form-control border-dark rounded-2"
          placeholder="Create password"
          required
        />
        <div class="invalid-feedback">Please Enter Password</div>
      </div>


    <button type="submit" class="btn w-100" style="background-color: black; color: white; border-radius: 30px; font-weight: 600;">Add Admin</button>
  </form>
</div>
