<footer class="bg-dark text-light mt-5 pt-4 pb-3 shadow-sm border-top">
  <div class="container">
    <div class="row mb-4">
      <!-- Jamia Info -->
      <div class="col-md-4 d-flex gap-3 mb-4 mb-md-0">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/99/Jamia_Millia_Islamia_Logo.svg/1200px-Jamia_Millia_Islamia_Logo.svg.png" alt="Jamia Logo" width="60" height="60">
        <div>
          <h5 class="fw-bold mb-1">Jamia Millia Islamia</h5>
          <p class="mb-1">Jamia Nagar, New Delhi - 110025, India</p>
          <p class="mb-1 small">
            +91 (11) 26981717, 26984617, 26984658<br>
            26988044, 26987183<br>
            Fax: +91 (11) 2698 0229
          </p>
        </div>
      </div>

      <!-- Hostel Mess Contacts -->
      <div class="col-md-4 mb-4 mb-md-0">
        <h6 class="fw-semibold mb-2">Hostel Mess Contact</h6>
        <p class="mb-1"><strong>Warden:</strong> Dr. Imran Khan<br>Email: imran.khan@jmi.ac.in | +91 9876543210</p>
        <p class="mb-1"><strong>Mess Warden:</strong> Mr. Salman Usmani<br>Email: mess.warden@jmi.ac.in | +91 9812345678</p>
        <p class="mb-1"><strong>Caretaker:</strong> Mr. Afaq Ahmad<br>Email: afaq.ahmad@jmi.ac.in | +91 9898989898</p>
        <p class="mb-1"><strong>Provost:</strong> Prof. Nadeem Akhtar<br>Email: provost.hostel@jmi.ac.in | +91 9765432100</p>
      </div>

      <!-- Developers Info -->
      <div class="col-md-4">
        <h6 class="fw-semibold mb-2">Developed By</h6>
        <p class="mb-1"><strong>Naqeeb Ahmad</strong></p>
        <div class="d-flex gap-2 mb-2">
          <a href="https://github.com/Naqeeb2k" class="text-light"><i class="fab fa-github fa-lg"></i></a>
          <a href="https://www.linkedin.com/in/naqeeb-ahmad-a9a51426b/" class="text-light"><i class="fab fa-linkedin fa-lg"></i></a>
          <a href="https://www.instagram.com/naqeeb__2k/?hl=en" class="text-light"><i class="fa-brands fa-instagram fa-lg"></i></a>
         </div>

        <p class="mb-1"><strong>Shakir</strong></p>
        <div class="d-flex gap-2">
          <a href="https://github.com/Shakir0050" class="text-light"><i class="fab fa-github fa-lg"></i></a>
          <a href="https://www.linkedin.com/in/shakir-352592341/" class="text-light"><i class="fab fa-linkedin fa-lg"></i></a>
        <a href="https://www.instagram.com/shakir_yusufzai_0050/?hl=en" class="text-light"><i class="fa-brands fa-instagram fa-lg"></i></a>
         </div>
      </div>
    </div>

    <!-- Bottom strip -->
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center border-top pt-3">
      <small>&copy; <%= new Date().getFullYear() %> Jamia Hostel Mess-Review-System</small>
      <div class="d-flex gap-3 mt-2 mt-md-0">
        <a href="https://jmi.ac.in/hostels" class="text-decoration-none text-dark">Privacy</a>
        <a href="https://jmi.ac.in/hostels" class="text-decoration-none text-dark">Terms</a>
      </div>
    </div>
  </div>
</footer>
